[MASTER]
ignore = __init__.py
persistent = yes

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-function-docstring,
    missing-method-docstring,
    too-few-public-methods,
    too-many-arguments
    broad-except
